<tr>
  <td><%= category.title %></td>
  <td><a href="/categories/<%= category.id %>/edit" class="primary">Edit</a></td>
  <td>
    <form action="/categories/<%= category.id %>/delete" method="post">
      <button class="primary-alt">Delete</button>
    </form>
  </td>
</tr>
