<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'Error!' }) %>
  </head>

  <body>
    <%- include('includes/navigation') %>
      <section class="error__container">
        <div class="error__title">Ooops, something went wrong!</div>
        <div class="error__description">
          We are going to fix it as soon as possible!
        </div>
        <button class="action-home"><a href="/">Go Home</a></button>
      </section>
   
  </body>
</html>
