<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: 'All Categories'}) %>
  </head>
  <body>
    <%- include('includes/navigation') %>
    <div class="heading">
      <h3>All Categories</h3>
    </div>
    <div class="categories__container">
      <% if(!categories || categories.length === 0) { %>
      <p>No categories found, maybe start creating some?</p>
      <a href="/new-category" class="primary">Create new category</a>
      <% } else { %>
      <table>
        <% for (const category of categories) { %>
        <%-include('includes/category__details', { category: category}) %> <% }
        %> <% } %>
      </table>
    </div>
  </body>
</html>
