<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: 'All Categories'}) %>
    <link rel="stylesheet" href="/styles/table.css" />
  </head>
  <body>
    <%- include('includes/navigation') %>
    <div class="heading">
      <h3>All Categories</h3>
    </div>
    <div class="categories__container">
      <% if(!categories || categories.length === 0) { %>
      <p>No categories found, maybe start creating some?</p>
      <a href="/new-category" class="primary">Create new category</a>
      <% } else { %>
      <div class="hscroll">
        <table width="100%" cellspacing="0" cellpadding="6">
          <tr>
            <th>Title</th>
            <th>Action</th>
            <th>Action</th>
          </tr>
          <% for (const category of categories) { %>
          <%-include('includes/category__details', { category: category}) %> <%
          } %> <% } %>
        </table>
      </div>
    </div>
  </body>
</html>
