<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: 'All Items'}) %>
  </head>
  <body>
    <%- include('includes/navigation') %>
    <div class="items__container">
      <h1>All Items</h1>
      <% if(!items || items.length === 0) { %>
      <p>No items found, maybe start creating some?</p>
      <a href="/new-item">Create new item</a>
      <% } else { %> <% for (const item of items) { %> <%-
      include('includes/item__details', { item: item}) %> <% } %>
    </div>
    <% } %>
  </body>
</html>
