<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: 'All Items'}) %>
  </head>
  <body>
    <%- include('includes/navigation') %>
    <div class="heading">
      <h3>All Items</h3>
    </div>
    <div class="items__container">
      <% if(!items || items.length === 0) { %>
      <div class="empty__message">
        <p>No items found, maybe start creating some?</p>
        <a href="/new-item" class="primary">Create new item</a>
      </div>

      <% } else { %>
      <table>
        <% for (const item of items) { %> <%- include('includes/item__details',
        { item: item}) %> <% } %>
      </table>
    </div>
    <% } %>
  </body>
</html>
