<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: 'All Items'}) %>
    <link rel="stylesheet" href="/styles/table.css" />
  </head>
  <body>
    <%- include('includes/navigation') %>
    <div class="heading">
      <h3>All Items</h3>
    </div>
    <div class="items__container">
      <% if(!items || items.length === 0) { %>
      <div class="empty__message">
        <p>No items found, maybe start creating some?</p>
        <a href="/new-item" class="primary">Create new item</a>
      </div>

      <% } else { %>
        <div class="hscroll">
      <table width="100%" cellspacing="0" cellpadding="6">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Cost(€)</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
        <% for (const item of items) { %> <%- include('includes/item__details',
        { item: item}) %> <% } %>
      </table>
    </div>
    </div>
    <% } %>
  </body>
</html>
