<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'Add new category' }) %>
    
  </head>

  <body>
    <%- include('includes/navigation') %>
    <div class="heading">
       <h3>Add a New Category</h3>
    </div>

    <div class="form__container">
      <form action="/categories" method="post">
       
        <div class="form__item">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" required />
        </div>
        
        <button class="action">Add Category</button>
      </form>
    </div>
  </body>
</html>
