<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {title: 'Home'}) %>
  </head>

  <body>
    <%- include('includes/navigation') %>
    <div class="actions__content">
      <h3>Welcome to the Dashboard</h3>
      <h3>How can we help you?</h3>
      <button><a href="/new-category">Create Category</a></button>
      <button><a href="/new-item">Create Item</a></button>
    </div>
  </body>
</html>
