@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #004aad;
  --secondary-color: #d1f1f9;
  --background-color: #f5f5f5;
  --accent-color: #ff5733;
  --alert-color: #e57373;
  --primary-gray: #333333;
  --secondary-gray: #666666;
  --white: #fafafa;

  --fs-size-sm: 0.8rem;
  --fs-size-md: 1rem;
  --fs-size-l: 1.2rem;
  --fs-size-xl: 2rem;
  --shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: var(--fs-size-md);
  color: var(--primary-gray);
  text-align: center;
  font-size: var(--fs-size-md);
  background-color: var(--background-color);
}

h3 {
  font-size: var(--fs-size-l);
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  transition: all 0.5s ease-in;
  
}

button:hover {
  transform: scale(1.02);
}

.navigation {
  height: 5rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  background-color: var(--primary-color);
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--white);
}

.logo strong {
  color: var(--accent-color);
}

#sidebar__button {
  width: 2rem;
  height: 2rem;
  padding: 0 1rem;
  cursor: pointer;
  color: var(--white);
}

#sidebar__button:hover {
  color: var(--accent-color);
}

#sidebar__menu {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 8rem;
  height: 20rem;
  z-index: 80;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0 1rem 1rem 1rem;
}

#sidebar__menu.open {
  display: block;
  animation: slidein 1s ease-in-out;
}

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 2rem 0;
}

.nav__links a {
  color: var(--white);
  font-size: var(--fs-size-sm);
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.nav__links a:hover {
  border-bottom: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.heading {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.heading p {
  margin-top: -25px;
}

.empty__message {
  display: grid;
  place-items: center;
}

.error__container {
  display: grid;
  place-items: center;
  gap: 20px;
}

.error__title {
  font-size: 2rem;
  font-weight: bold;
}

.error__description {
  font-size: 1rem;
}

@media (min-width: 48rem) {
  h3 {
    font-size: var(--fs-size-xl);
  }

  .items__container,
  .categories__container {
    margin: 0 auto 20px auto;
    padding: 0 5px;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}
