@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --fs-size-sm: 0.8rem;
  --fs-size-md: 1rem;
  --fs-size-l: 1.2rem;
  --fs-size-xl: 1.5rem;
  --cl-black: #464444;
  --cl-white: #ffffff;
  --cl-gray-light: #f3eef1;
  --cl-gray-dark: #858485;
  --cl-accent-blue: #0f57c4;
  --cl--accent-violet: #9612eb;
  --cl--accent-red: #d1134d;
  --gradient--accent: linear-gradient(
    to right,
    #0f57c4,
    #3252d3,
    #5349df,
    #7439e7,
    #9612eb
  );
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--fs-size-md);
  background-color: var(--cl-gray-light);
  color: var(--cl-black);
}

h3 {
  font-size: var(--fs-size-l);
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.navigation {
  padding: 2% 4%;
}

.heading {
  width: 100%;
  padding: 2% 0;
  background-image: var(--gradient--accent);
  color: var(--cl-white);
  margin-bottom: 20px;
}

.categories__container {
  display: grid;
  place-items: center;
}

.empty__message {
  display: grid;
  place-items: center;
}

.error__container {
  display: grid;
  place-items: center;
  gap: 20px;
}

.error__title {
  font-size: 2rem;
  font-weight: bold;
}

.error__description {
  font-size: 1rem;
}

.action-home {
  font: inherit;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  padding: 10px 20px;
  background-color: var(--cl-accent-blue);
  color: var(--cl-white);
  border: 1px solid transparent;
  border-radius: 8px;
}

.action-home:hover {
  opacity: 0.8;
}

@media (min-width: 48rem) {
  h3 {
    font-size: var(--fs-size-xl);
  }

  .items__container {
    margin: 0 auto 20px auto;
    padding: 0 5px;
  }
}
