table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border-bottom: 1px solid var(--cl-gray-dark);
    padding: 8px;
    text-align: left;
    text-transform: capitalize;
    font-size: var(--fs-size-sm);
  }
  
  .primary {
    color: var(--cl-accent-blue);
  }
  
  .primary-alt {
    font: inherit;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--cl--accent-red);
    background-color: transparent;
    border: none;
  }
  